<div class="adv-meta-header" data-cs-capture>
  {{ section.settings.category_text }}
</div>

{% schema %}
{
  "name": "Adv Meta Header v2",
  "settings": [
    {
      "type": "text",
      "id": "category_text",
      "label": "Category & Read Time",
      "default": "Kesehatan Wanita \u00b7 Nutrisi \u00b7 6 menit baca"
    }
  ]
}
{% endschema %}
