{% if section.settings.quality_image != blank %}
  <div class="adv-image">
    {{
      section.settings.quality_image
      | image_url: width: 1280
      | image_tag: loading: 'lazy', alt: section.settings.quality_image.alt, data-cs-mask: 'false'
    }}
  </div>
{% endif %}

<div class="adv-richtext" data-cs-capture>
  {{ section.settings.body }}
</div>

{% schema %}
{
  "name": "Adv Quality Proof v2",
  "settings": [
    {
      "type": "image_picker",
      "id": "quality_image",
      "label": "Quality Comparison Image"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body Text"
    }
  ]
}
{% endschema %}
